label
{
    font-size: 16px;
    margin-bottom: 1px;
    font-weight: 600;
}
.fnt17
{
 font-size: 17px!important;
 cursor: pointer!important;
}
agm-map {
    height: 400px;
}
.ps
{
    position: relative;
    top:20px;
}